{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- html2canvas -->
    <script src="https://superal.github.io/canvas2image/canvas2image.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <!-- json-digger -->
    <script src="https://cdn.jsdelivr.net/npm/json-digger@2.0.2/dist/json-digger.min.js"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- debeng orgchart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/orgchart/5.0.0/js/jquery.orgchart.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/orgchart/5.0.0/css/jquery.orgchart.min.css" integrity="sha512-9A2BSSUL5eXVMWwrB8aDX8GeOOSMMVCk3fvqOplnswmo4IN4s6DW2ywpb3VCDcGCVwDc3g6S1k9T72NsCkgw5A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- daisyUI -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static  'CSS/style.css' %}">
    <title>Document</title>
</head>
<body>
<h1 id="header">ORGANIZATIONAL CHART</h1>
<div id="above">
    <button id="export">export as png</button>
    <div id="search-outer">
            <div id="search">
        <input type="text" name="" id="" placeholder="search">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        </div>
    <div id="zooms">
        <button id="zoomIn" style="color: white"><i class="fa-solid fa-magnifying-glass-plus"></i></button>
        <button id="zoomOut" style="color: white"><i class="fa-solid fa-magnifying-glass-minus"></i></button>
    </div>
</div>
    <div class="main">

            <div id="chart"></div>
    </div>

<button style="color: white" id="createPreview">preview</button>
<div id="preview"></div>

    <script src="{% static 'JS/main.js' %}" type="module"></script>
    <script src="{% static 'JS/chartData.js' %}"></script>
<script>
    window.STATIC_URLS = {
        exampleImage: "{% static 'default_profile.jpg' %}"
    };
</script>
</body>
</html>